@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @include screen-to($desktopWidth) {
        font-size: 16px;
    }
    @include screen-to($smDesktopWidth) {
        font-size: 16px;
    }
    @include screen-to($tableWidth) {
        font-size: 15px;
    }
    @include screen-to($smTableWidth) {
        font-size: 15px;
    }
    @include screen-to($phoneWidth) {
        font-size: 14px;
    }

}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include screen-to($desktopWidth) {
        font-size: 16px;
    }
    @include screen-to($smDesktopWidth) {
        font-size: 16px;
    }
    @include screen-to($tableWidth) {
        font-size: 15px;
    }
    @include screen-to($smTableWidth) {
        font-size: 15px;
    }
    @include screen-to($phoneWidth) {
        font-size: 14px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: $mainFontColor;
    &:hover, &:active, &:focus{
        color: $mainFontColor;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main.content{

    flex: 1 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: $desktopWidth;
    @include screen-to($desktopWidth) {
        max-width: $smDesktopWidth;
    }
    @include screen-to($smDesktopWidth) {
        max-width: $tableWidth;
    }
    @include screen-to($tableWidth) {
        max-width: $smTableWidth;
    }
    @include screen-to($smTableWidth) {
        max-width: $phoneWidth;
    }
    @include screen-to($phoneWidth) {
        max-width: $smPhoneWidth;
    }
}

// Modules:
// example: @import "modules/my-module.scss";
@import "includes/header";
@import "includes/first-screen";
@import "includes/promo-page";
@import "includes/gallery";
@import "includes/footer";