section#avone-styles.block.avone-styles
    .container
        h5.block__title AVONE STYLES
        span.block__description Choose Your Favorite Color
        .avone-styles__content
            img(src="/assets/img/avone-styles-1.jpg").avone-styles__img.avone-styles__img--1
            img(src="/assets/img/avone-styles-2.jpg").avone-styles__img.avone-styles__img--2
            img(src="/assets/img/avone-styles-3.jpg").avone-styles__img.avone-styles__img--3
            a(href='#').avone-styles__link SHOW WOMEN’S DRESS