section#catalog.gallery
    .container
        a(href='#').gallery__item.gallery__item--1
            img(src="/assets/img/gallery-1.jpg").gallery__img
            span.category-name category name
        a(href='#').gallery__item.gallery__item--2
            img(src="/assets/img/gallery-2.jpg").gallery__img
            span.category-name category name
        a(href='#').gallery__item.gallery__item--3
            img(src="/assets/img/gallery-3.jpg").gallery__img
            span.category-name category name
        a(href='#').gallery__item.gallery__item--4
            img(src="/assets/img/gallery-4.jpg").gallery__img
            span.category-name category name