section#first-screen.promo-page
    .container
        section.content
            span.promo-page__title NEW TREND
            h1.promo-page__trend-name COLLUSION
            span.promo-page__description An exclusive selection of this season's trends.
            .promo-page__buttons
                a(href="#").promo-page__btn Discover
                a(href="#").promo-page__btn SHOP NOW