section#second-promo.promo-page.block
    .container
        section.content
            span.promo-page__title OWN THE DAY
            h1.promo-page__trend-name TACHEN 19
            .promo-page__buttons
                a(href="#").promo-page__btn shop collection