#woman-shop.shop.block
    .container
        h5.block__title WOMEN’S FASHION
        span.block__description Shop our new arrivals from established brands
        .shop__cards
            a(href="#").shop__card.product
                img(src="/assets/img/shop-women-1.jpg").product__img
                span.product__collection IGURE
                span.product__title GREEN MUSCLE FIT POLO SHIRT
                .product__price
                    span.product__old-price $220.00
                    span.product__discount-price $129.00
            a(href="#").shop__card.product
                img(src="/assets/img/shop-women-2.jpg").product__img
                span.product__collection IGURE
                span.product__title GREEN MUSCLE FIT POLO SHIRT
                .product__price
                    span.product__old-price $220.00
                    span.product__discount-price $129.00
            a(href="#").shop__card.product
                img(src="/assets/img/shop-women-3.jpg").product__img
                span.product__collection IGURE
                span.product__title GREEN MUSCLE FIT POLO SHIRT
                .product__price
                    span.product__old-price $220.00
                    span.product__discount-price $129.00
            a(href="#").shop__card.product
                img(src="/assets/img/shop-women-4.jpg").product__img
                span.product__collection IGURE
                span.product__title GREEN MUSCLE FIT POLO SHIRT
                .product__price
                    span.product__old-price $220.00
                    span.product__discount-price $129.00