header.page-header
    .container
        a(href='#', data-target='.mobile').mobile-toggle
            span
        a(href="#").logo YOUR LOGO
        nav.top-menu
            ul.top-menu__items
                each val, index in ['HOME', 'SHOP', 'LOOKBOOK', 'FEATURES', 'PAGES', 'BLOG']
                    if index === 0
                        li.top-menu__item.top-menu__item_active
                            a(href='#')= val
                    else
                        li.top-menu__item
                            a(href='#')= val
        .controls
            a(href="#").controls__item
                i.fas.fa-search
            a(href="#").controls__item
                i.far.fa-heart
            a(href="#").controls__item
                i.fas.fa-shopping-cart
    .container.mobile
        nav.mobile-menu
            ul.mobile-menu__items
                each val, index in ['HOME', 'SHOP', 'LOOKBOOK', 'FEATURES', 'PAGES', 'BLOG']
                    if index === 0
                        li.mobile-menu__item.mobile-menu__item_active
                            a(href='#')= val
                    else
                        li.mobile-menu__item
                            a(href='#')= val