/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Poppins', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #22262A;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Colors
$backgroundColor: #fff;
$discountColor: #CF2929;
$activeLinkColor: lighten($mainFontColor, 80%);
$footerActiveLinkColor: lighten($mainFontColor, 30%);
$footerBackgroundColor: #F2F8FC;
$footerBackgroundSecondColor: #E7F5F8;
