header{
    position: sticky;
    top: 0;
    background: $backgroundColor;
    z-index: 100;
    &.page-header{
        height: 83px;
        padding: 21px 0;
        width: 100%;
        .container{
            display: flex;
            align-items: center;
        }

    }
    .logo{
        font-weight: 700;
        font-size: 28px;
        text-transform: uppercase;
    }
    .controls{
        width: 148px;
        display: flex;
        justify-content: space-between;
        &__item{
            &:hover{
                color: lighten($mainFontColor, 40%);
            }
        }
    }
}

.top-menu{
    flex: 1 0 auto;
    max-width: 527px;
    margin: 0 auto;
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-transform: uppercase;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
        &_active{
            a{
                color: lighten($mainFontColor, 40%);
                text-decoration: underline;
                cursor: default;
            }
        }
    }
}

