.promo-page{
    height: calc(100vh - 83px);
    &__trend-name{
        font-size: 80px;
        font-weight: 700;
    }
    &__title{
        text-transform: uppercase;
    }
    &__description, &__title{
        font-weight: 500;
    }
    &__buttons{
        display: flex;
        padding-top: 27px;

    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 25px;
        background: $mainFontColor;
        color: $backgroundColor;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 34px;
        &:hover{
            background-color: $backgroundColor;
            color: $mainFontColor;
        }
    }
}