include ../utils/mixins
block variables

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block head

    body(class=pageClass)
        include ../includes/modules/header
        main.content
            block content
        include ../includes/modules/footer
        block script